/* Style for the about section */
.about_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 5rem;
}

.about_me {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about_me::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.about_me-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
  overflow: hidden;
}

.about_me-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_me-image:hover {
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}

.about_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.about_card {
  background-color: var(--color-bg-variant);
  border-radius: 1rem;
  border: 1px solid transparent;
  padding: 2rem;
  text-align: center;
}

.about_card:hover {
  border: 1px solid var(--color-primary);
  transition: all 0.5s ease-in-out;
}

.about_icon {
  font-size: 1.4rem;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.about_card h5 {
  font-size: 0.96rem;
}

.about_card small {
  font-size: 0.8rem;
  color: var(--color-light);
}

.about_content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

/* Media queries */
@media screen and (max-width: 1024px) {
  .about_container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about_me {
    width: 50%;
    margin: 1rem 0 1.5rem;
  }

  

}

@media screen and (max-width: 600px) {
  .about_cards {
    width: 65%;
    margin: 0 auto 3rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about_content {
    text-align: center;
  }

  .about_content p {
    margin: 1.5rem 0;
  }
}

  